[submodule "lib/wolfHSM"]
	path = lib/wolfHSM
	url = git@github.com:wolfSSL/wolfHSM.git
[submodule "lib/wolfSSL"]
	path = lib/wolfSSL
	url = git@github.com:wolfSSL/wolfSSL.git
[submodule "lib/wolfhal"]
	path = lib/wolfhal
	url = git@github.com:wolfSSL/wolfhal.git
[submodule "lib/wolfPSA"]
	path = lib/wolfPSA
	url = git@github.com:danielinux/wolfpsa.git
	branch = runtime-devid
	# Tracking a personal fork until the runtime-devid hook
	# (wolfPSA_SetDefaultDevID / wolfPSA_GetDefaultDevID) lands upstream
	# in wolfSSL/wolfPSA. Re-point at upstream once it's merged.
