[submodule "lib/wolfHSM"]
	path = lib/wolfHSM
	url = git@github.com:wolfSSL/wolfHSM.git
[submodule "lib/wolfSSL"]
	path = lib/wolfSSL
	url = git@github.com:wolfSSL/wolfSSL.git
[submodule "lib/wolfhal"]
	path = lib/wolfhal
	url = git@github.com:wolfSSL/wolfhal.git
[submodule "lib/wolfPSA"]
	path = lib/wolfPSA
	url = https://github.com/aidangarske/wolfPSA.git
[submodule "lib/wolfPKCS11"]
	path = lib/wolfPKCS11
	url = https://github.com/aidangarske/wolfPKCS11.git
[submodule "lib/wolfIP"]
	path = lib/wolfIP
	url = git@github.com:wolfSSL/wolfip.git
