[submodule "lib/wolfHSM"]
	path = lib/wolfHSM
	url = git@github.com:wolfSSL/wolfHSM.git
[submodule "lib/wolfSSL"]
	path = lib/wolfSSL
	url = git@github.com:wolfSSL/wolfSSL.git
[submodule "lib/wolfhal"]
	path = lib/wolfhal
	url = git@github.com:wolfSSL/wolfhal.git
